.grid-layout{
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.grid-login{
    grid-column: 3;
    grid-row: 1;
}

